<h1>新しいToDo</h1>

<%= form_with model: @todo do |f| %>
  <div>
    <%= f.label :title, '内容' %><br>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :done, '完了' %>
    <%= f.check_box :done %>
  </div>
  <%= f.submit '作成' %>
<% end %>

<%= link_to '一覧へ戻る', todos_path %>
